---
title:          Lambdacats
max_width:      900px
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <ul class="ins-imgs">
      {% for image in site.data.images %}

        {% assign id = image.file | split: "." | first %}
        {% assign src = "./images/" | append: image.file %}
        <li class="ins-imgs-li" id="{{ id }}">
          <div class="ins-imgs-img" onclick=this.classList.toggle("zoom");>
            <a name="{{ id }}" href="#{{ id }}">
              <img src="{{ src }}"
                   {% assign alt = image.alt %}
                   {% if alt %}
                     alt="{{ alt }}"
                   {% endif %}
                     {% assign title = image.title %}
                     {% if title %}
                       title="{{ title }}"
                     {% endif %}
                       style="max-width: {{ page.max_width }}"/>
            </a>
          </div>
          {% assign source = image.source %}
          {% assign source_url = image.source_url %}
          {% if source %}
            <div class="ins-imgs-label">
              Source:
              {% if source_url %}<a href="{{ source_url }}">{% endif %}
                {{ source }}
                {% if source_url %}</a>{% endif %}
            </div>
          {% endif %}
        </li>

      {% endfor %}

    </ul>

    <footer>
      <a href="https://github.com/mikelothar/github-gallery" target="_blank">GitHub Gallery</a>
    </footer>
  </body>
</html>
